<h1 class="text-center">Device</h1>
<p ng-show="message.text">
  {{message.text}}
</p>

<form ng-submit="save()">

  <md-input-container class="md-block" flex-gt-sm>
    <label>Endereço IP do Device</label>
    <input ng-model="device.ip">
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Nome do Device</label>
    <input ng-model="device.name">
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Tipo</label>
    <md-select ng-model="device.deviceType" placeholder="Tipo do Device">
      <md-option ng-repeat="deviceType in deviceTypes" ng-value="deviceType._id">{{deviceType.name}}</md-option>
    </md-select>
  </md-input-container>

  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button type="submit" class="md-raised md-primary">Salvar</md-button>
    <md-button ng-href="#/" class="md-raised">Voltar</md-button>
    <md-button ng-click="delete(device)"class="md-raised md-warn">Excluir</md-button>
  </section>

</form>
