<h1 class="text-center">Device</h1>
<p ng-show="message.text">
  {{message.text}}
</p>

<form ng-submit="save()">

  <div class="form-group">
    <label for="ip">Endereço IP</label>
    <input type="text" class="form-control" id="ip" name="ip" required ng-model="device.ip">
  </div>

  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text" class="form-control" id="name" name="name" required ng-model="device.name">
  </div>

  <div class="form-group">
    <label for="deviceType">Tipo</label>
    <select id="deviceType"
      class="form-control"
      ng-model="device.deviceType"
      ng-options="deviceType._id as deviceType.name for deviceType in deviceTypes"
      >
    </select>
</div>

  <div>
    <button type="submit" class="btn btn-primary">
      Salvar
    </button>
    <a href="#/" class="btn btn-default">Voltar</a>
  </div>

</form>
