<md-input-container class="md-block" flex-gt-sm>
  <label>Filtro de Busca</label>
  <input ng-model="filtro">
</md-input-container>

<md-list flex>
  <md-list-item class="md-3-line" ng-repeat="device in devices | filter: filtro" ng-click="openDevice(device)">
    <md-icon md-svg-icon="menu"></md-icon>
    <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
    <div class="md-list-item-text" layout="column">
      <h3>{{device.name}}</h3>
      <h4>{{device.ip}}</h4>
      <p>askjhd akjsd kjah skdjhaksjhdkjahs dh asdh</p>
    </div>

  </md-list-item>

</md-list flex>
