<md-list flex>

    <md-list-item class="md-3-line" ng-click="openDevice(device)" ng-repeat="device in devices">

        <md-icon md-svg-icon="menu"></md-icon>

        <div class="md-list-item-text" layout="column">
          <h3>{{device.name}}</h3>
          <h4>{{device.ip}}</h4>
          <p>{{device.message}}</p>
        </div>

        <md-switch ng-show='!device.loading' class="md-secondary" ng-model="switchesStatus[device._id]"
          ng-change="changeStatus(device)"></md-switch>
        <md-progress-circular ng-show='device.loading' class="md-hue-2 md-secondary" md-mode='indeterminate'></md-progress-circular>

        <md-divider/></md-divider>

    </md-list-item>

    <md-list-item class="md-2-line" ng-href="#/device">

      <md-button class="md-primary md-fab md-mini" aria-label="Novo Device"
        ng-href="#/device">
      <md-icon md-svg-src="./assets/svg/ic_note_add_white_24px.svg" />
    </md-button>

    <div class="md-list-item-text" layout="column">
      <h3>Cadastrar Novo Device</h3>
    </div>

  </md-list-item>

</md-list flex>
