<div class="jumbotron">
  <h1 class="text-center">
    Bem-vindo ao IoT - Internet das Coisas
  </h1>
</div>

<p ng-show="mensagem.texto">
  {{mensagem.texto}}
</p>

<a ng-href="#/device" class="btn btn-primary">Novo Device</a>

<input ng-model="filtro" type="search" placeholder="parte do nome">

<p ng-show="devices.length">
  Devices cadastrados: {{devices.length}}
</p>

<p class="text-info" ng-hide="devices.length">
  Não há Devices cadastrados
</p>

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>IP</th>
      <th>Nome</th>
      <th class="text-center">Ação</th>
    </tr>
    <tr ng-repeat="device in devices | filter: filtro">
      <td>
        <a>{{device.ip}}</a>
      </td>
      <td>
        <a ng-href="#/device/{{device._id}}">{{device.name}}</a>
      </td>
      <td class="text-center">
        <button ng-click="delete(device)" class="btn btn-warning">
          Remover
        </buttom>
      </td>
    </tr>
  </table>
</div>
